* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
}
.container {
  width: 900px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logo-container {
  display: flex;
  justify-content: baseline;
  align-self: center;
}
.logo-text {
  margin-left: -0.8rem;
  font-size: 28px;
}
.logo {
  width: 60px;
  height: 64px;
  margin-top: -15px;
  align-self: start;
}
.nav-items {
  display: flex;
  gap: 2rem;
  padding: 0.4rem;
}
.nav-items div {
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  transition: font-weight 0.1s linear;
}

a {
  text-decoration: none;
  color: black;
}
.nav-items div:hover {
  font-weight: 500;
}
.hero-section {
  width: 910px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}
.faded-text {
  user-select: none;
  color: rgb(231, 231, 231);
  font-size: 4em;
  position: absolute;
  bottom: -17%;
  left: 5%;
}
.hero-section-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
.hero-section-heading {
  font-weight: 400;
  font-size: 35px;
  color: #343d68;
}
.role {
  color: #7744dd;
  font-weight: 500;
  font-size: 35px;
}
.hero-section-subheading {
  font-size: 45px;
  line-height: 45px;
}
.hero-section-description {
  width: 70%;
  font-weight: 400;
  margin-top: 1rem;
}
.hero-section-right {
  position: relative;
}
.user-image {
  padding: 2.5rem;
  filter: grayscale(1);
  animation: scaleimage 3s alternate-reverse linear infinite;
  perspective: 10px;
}
@keyframes scaleimage {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.1);
    filter: grayscale(0.3);
    box-shadow: 1px 2px 5px 0px #3836363f;
  }
  100% {
    transform: scale3d(1);
    filter: none;
    box-shadow: 3px 4px 5px 0px #3836363f;
  }
}
.icons {
  z-index: 2;
}
.btn-pink {
  width: fit-content;
  background-color: #e84949;
  padding: 10px 30px;
  font-weight: 300;
  color: white;
  font-size: 25px;

  box-shadow: 5px 5px 7px 0px #0000003f;
  position: relative;
  z-index: 2;
  text-align: center;
  border: 2px solid #e84949;
}
.btn-pink::before {
  content: "";
  position: absolute;
  background: white;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.8s;
  z-index: -1;
  transform-origin: left;
}
.btn-pink:hover::before {
  transform: scaleX(1);
}
.btn-pink:hover {
  color: black;
}

.absolute {
  position: absolute;
}
.user-image img {
  width: 200px;
}
.icons-dot {
  right: -1rem;
  bottom: -2rem;
  animation: dotupdown 4s infinite alternate-reverse;
}
@keyframes dotupdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.icons-cube {
  right: 1em;
  top: -2em;
  animation: cuberotate 4s infinite alternate-reverse;
}
@keyframes cuberotate {
  0% {
    transform: translateY(0px) rotateY2(0deg);
  }
  50% {
    transform: translateY(-12px) rotateY(180deg);
  }
  100% {
    transform: translateY(0px) rotateY(360deg);
  }
}
.icons-circle {
  left: 0px;
  bottom: 0px;
  animation: dotmove 6s alternate infinite;
}
@keyframes dotmove {
  0% {
    left: 0;
    bottom: 0;
  }
  50% {
    left: 5%;
    bottom: 10%;
  }
  100% {
    left: 0;
    bottom: 0;
  }
}
.icons-zigzag {
  left: -0.3em;
  top: 1.5rem;
  animation: zigzagani 6s alternate infinite;
}
@keyframes zigzagani {
  50% {
    left: 5%;
    top: 2%;
  }
}
.icons-plus {
  left: 50%;
  top: 0.8rem;
  animation: plusmove 5s alternate ease-in infinite;
}
@keyframes plusmove {
  50% {
    left: 48%;
    top: 3%;
  }
}
.project-section {
  background-color: rgb(231, 231, 231);
  margin-top: 4rem;
}
.project-head {
  color: #e84949;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
}
.project-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.project-card {
  width: 90%;
  height: 380px;

  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  box-shadow: 0px 0px 40px #1f1f1f;
}
.project-card::after {
  content: "";
  position: absolute;
  right: 0;
  background-color: #2e2e2e9a;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 0;
}
.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #2c314e, #384067be, #323a647c);
  transform: scaleX(0);
  transition: transform 0.4s;
  transform-origin: left;
  z-index: 1;
}
.project-card:hover::before {
  transform: scaleX(1);
}
.project-no {
  font-size: 130px;
  font-weight: 500;
  position: absolute;
  top: 0px;
  z-index: 2;
  right: 0px;
  color: white;
  display: none;
}
.project-card:hover .project-no {
  display: block;
}
.project-no-right {
  right: -40px;
  top: -45px;
}

.project-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: aliceblue;
  padding: 2em;
  width: 60%;

  bottom: 20%;
  z-index: 5;
  gap: 1em;
  height: 300px;
  transition: 0.4s;
}
.project-skills-container {
  display: flex;

  width: 100%;
  flex-wrap: wrap;
  gap: 6px;
}
.project-skills {
  width: 40px;
}

.project-content-left {
  left: 10%;
}
.project-content-right {
  right: 10%;
}
.project-heading {
  font-size: 50px;
  font-weight: 400;
  line-height: 3rem;
}
.project-subheading {
  font-style: italic;
  width: 90%;
  font-size: 17px;
}
.btn-grp {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
i {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: 0.4s;
}
i:hover {
  color: #e84949;
}
.project-card:hover .project-content {
  transform: scale(1.1);
}
#project1 {
  background-image: url(/media/images/projects/Project1.png);
  margin-right: 120px;
}
#project2 {
  background-image: url(/media/images/projects/Project2.png);
  margin-left: 120px;
}
#project3 {
  background-image: url(/media/images/projects/Project3.png);
  margin-right: 120px;
}
#project4 {
  background-image: url(/media/images/projects/Project4.png);
  margin-left: 120px;
}
@media (max-width: 800px) {
  #project1 {
    margin: 0;
  }
  #project2 {
    margin: 0;
  }
  #project3 {
    margin: 0;
  }
  #project4 {
    margin: 0;
  }
  .project-container {
    padding: 10px;
    gap: 50px;
    margin: 5px;
  }
  .project-content {
    gap: 10px;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 182px;
    width: 500px;
  }
  .project-card {
    width: 100%;
    height: 300px;
  }
  .project-skills-container {
    gap: 2px;
  }
  .project-head {
    font-style: 30px;
  }
  .container {
    width: 700px;
  }
  .hero-section {
    width: 800px;
    gap: 20px;
  }
  .hero-section-left {
    width: 400px;
  }
}

.skills-container {
  position: relative;
  display: flex;
  padding: 2rem;
  margin: 6em auto;
  gap: 50px;
}
.skill-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.skill-container-right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}
.blob {
  position: absolute;
  top: 20%;
  left: 34%;
  height: 200px;
  animation: blob 5s linear infinite;
  z-index: -5;
}
@keyframes blob {
  50% {
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.skills-logo {
  width: 50px;
  transition: 0.5s;
}
.skills-logo:hover {
  transform: scale(1.2);
}
.skill-fade-text {
  color: rgb(231, 231, 231);
  font-size: 7em;
  font-weight: 400;
  user-select: none;
  position: absolute;
  bottom: -25.5%;
  right: -12%;
}
.skill-heading {
  font-size: 50px;
  font-weight: 500;
  color: #e84949;
  line-height: 50px;
}
.caps {
  font-size: 90px;
}
.skill-subheading {
  font-size: 12px;
  margin: 1rem;
  width: 85%;
  text-align: justify;
}
.contact-container {
  width: 100%;
  background: rgb(231, 231, 231);
}
.contact-heading {
  color: #e84949;
  font-size: 3em;
  font-weight: 400;
  padding-top: 2rem;
}
.contact-subheading {
  font-size: 2em;
  color: #343d68aa;
  font-weight: 400;
  text-transform: capitalize;
}
.contact-Me {
  width: 900px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form {
  display: flex;
  flex-direction: column;

  width: 70%;
  margin: 2rem 5rem;
}
.formfield {
  height: 32px;
  border-radius: 3px;
  width: 100%;
  padding: 0 2rem;
  box-shadow: 1px 1px 4px black;
  border: none;
}
.formfield-textarea {
  height: 150px;
}
#submit-btn {
  margin-top: 1rem;
  border: none;
}
#submit-btn:hover {
  transform: scale(0.9);
}
#submit-btn:hover .submit-icon {
  color: black;
}
footer {
  position: relative;
  margin-top: -1px;
  background-color: #343d68;
  padding: 5rem;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.2rem;
  align-items: center;
}
.footer-fade-text {
  user-select: none;
  color: #535c87;
  font-size: 3rem;
  left: 0;
  bottom: 0;

  position: absolute;
}
.link-wrapper {
  display: flex;
  gap: 1.2rem;
}
.link-wrapper a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
.link-wrapper a:hover {
  color: #e84949;
}
.icon-wrapper {
  display: flex;
  gap: 1rem;
}
